<div class="container">
  <div class="header">
    <mat-card>
      @if (category_id) {

        <mat-card-content>
          <h2>{{category_details?.title}}</h2>
          <button  mat-button color="warn" (click)="deleteCategory()">
            <mat-icon>delete_outline</mat-icon>
             Delete List
          </button>
        </mat-card-content>
      }
    </mat-card>    
    <div>
      <button mat-raised-button [disabled]="!category_id" (click)="openDialog()">Create Task</button>
    </div>
  </div>
  
  <div class="content">
  
    
    <div cdkDropList class="tasks-list" (cdkDropListDropped)="drop($event)">
        @for (task of tasks; track task) {
          <div class="task-box" cdkDrag (click)="taskDetails(task.id)" 
          [class.active]="task.id == selectedTaskId">
          <span>
            <mat-checkbox class="checkbox" (click)="updateTaskCompletion(task.id, task.completed_at, $event)" [(ngModel)]="task.completed_at"></mat-checkbox>
            {{task?.task}}
          </span>
          </div>
        }
      </div>
    
      @if (completedTasks.length) {
        <div>
          <mat-card-content>
            Completed
          </mat-card-content>
        </div>
      
        <div cdkDropList class="tasks-list" (cdkDropListDropped)="drop($event)">
          @for (task of completedTasks; track task) {
            <div class="task-box" cdkDrag (click)="taskDetails(task.id)" 
            [class.active]="task.id == selectedTaskId">
            <span>
              <mat-checkbox class="checkbox" (click)="updateTaskCompletion(task.id, task.completed_at, $event)" [(ngModel)]="task.completed_at"></mat-checkbox>
              {{task?.task}}
            </span>
            </div>
          }
        </div>
      }
  </div>
  
  <div class="footer"></div>
    
</div>