<div class="container">
    <div class="header">
        @if(user?.email) {
            <span>{{user?.email}}</span>
            <button mat-raised-button (click)="logout()">Logout</button>
        }
        @else {
            <span>Please Login</span>
            <button mat-raised-button (click)="submit()">Login</button>
        }
    </div>
    <div>
        <div cdkDropList class="category-list" (cdkDropListDropped)="drop($event)">
            @for (category of categories; track category) {
              <div class="category-item" cdkDrag>{{category?.title}}</div>
            }
          </div>
    </div>
    <div>
        <button mat-raised-button (click)="openDialog()">New List</button>
    </div>
</div>