<div class="container">
    <div class="header">
        @if(user?.name) {
            <span>{{user?.name}}</span>
            <button mat-raised-button (click)="logout()">Logout</button>
        }
        @else {
            <span>Please Login</span>
            <button mat-raised-button (click)="submit()">Login</button>
        }
    </div>
    <div>
        <button mat-raised-button (click)="openDialog()">New List</button>
    </div>

    <div class="content">
        <div cdkDropList class="category-list" (cdkDropListDropped)="drop($event)">
            @for (category of categories; track category;) {
                    <div class="category-item" cdkDrag (click)="openList(category.id)"
                    [class.active]="category.id == selectedCategory">
                    <span>{{ category?.title}}</span>
                    @if (category?.num_of_active_task) {
                        <span>{{ category?.num_of_active_task }}</span>
                    }
                    </div>
            }
          </div>
    </div>

</div>